// @import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&subset=cyrillic');
// @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Exo+2:400,700&subset=cyrillic');
html{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #ffffff;
	color: $color_black;
	font-family: 'Exo 2', sans-serif;
	font-size: 16px;
	font-weight: 400;
}

/* The Pre-Loader */

.preloader-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	overflow: hidden;

	// Modernizr no-js fallback
	.no-js & {
		display: none;
	}

	.loader {
		display: block;
		position: relative;
		left: 50%;
		top: 50%;
		width: 150px;
		height: 150px;
		margin: -75px 0 0 -75px;
		border-radius: 50%;
		border: 3px solid transparent;
		border-top-color: $color_black;
		animation: spin 1.7s linear infinite;
		z-index: 11;
		
		&:before {
			content: "";
			position: absolute;
			top: 5px;
			left: 5px;
			right: 5px;
			bottom: 5px;
			border-radius: 50%;
			border: 3px solid transparent;
			border-top-color: $color_red;
			animation: spin-reverse .6s linear infinite;
		}
		
		&:after {
			content: "";
			position: absolute;
			top: 15px;
			left: 15px;
			right: 15px;
			bottom: 15px;
			border-radius: 50%;
			border: 3px solid transparent;
			border-top-color: $color_yellow;
			animation: spin 1s linear infinite;
		}
	}

	.loader-section {
		position: fixed;
		top: 0;
		width: 51%;
		height: 100%;
		background: #222;
		z-index: 10;

	}

	.section-left {
		left: 0;
	}

	.section-right {
		right: 0;
	}
}


// Bourbon mixins
@include keyframes(spin) {
  0% { 
    @include transform(rotate(0deg));
  }
  100% {
    @include transform(rotate(360deg));
  }
}

@include keyframes(spin-reverse) {
  0% { 
    @include transform(rotate(0deg));
  }
  100% {
    @include transform(rotate(-360deg));
  }
}

/* Loaded styles */

.loaded{
	.preloader-wrapper{
		visibility: hidden;
		transform: translateY(-100%);
		transition: all 0.3s 1s ease-out;

		.section-left{
			transform: translateX(-100%);
			transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
		}

		.section-right {
			transform: translateX(100%);
			transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
		}

		.loader {
			opacity: 0;
			transition: all 0.3s ease-out;
		}
	}

}

.container{
	width: 1200px;
}

@media (max-width: 1216px){
	.container {
		width: 100%;
	}
}

.row.equal {
	display: flex;
	flex-wrap: wrap;

	&.vertical-bottom{
		align-items: flex-end;
	}
}

.full-wr{
	width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.block-title{
	@include responsive-font(4vw, 26px, 48px);
	font-weight: 500;
	text-align: left;
	text-transform: uppercase;
	margin-top:70px;
}

.remodal{
	
	.remodal-close {
		color: #cccccc;

		&:hover{
			color: #666666;
		}
	}
	
	.remodal-close:before {
		content: "\e92c";
		font-family: "ca-icon";
		font-size: 40px;
		font-weight: 100;
		line-height: 40px;
	}

	&.general-popup-wr{
		width: 100%;
		max-width: 1000px;
	}

	.modal-form{

		.modal-title{
			@include responsive-font(4vw, 18px, 40px);
			font-weight: 600;
			text-align: left;
			text-transform: uppercase;
			color: #666666;
		}

		.modal-desc{
			@include responsive-font(2vw, 12px, 16px);
			font-weight: 500;
			text-align: left;
			color: #666666;
		}

		.window-popup-content-wr{

			.modal-title{
				margin-bottom: 20px;
			}

			.modal-desc{
				width: 100%;
				float: left;
				margin-top: 20px;
			}

			form{
				margin-top: 25px;
				float: left;
    			width: 100%;
			}
		}
	}
}

.scroll-bottom {
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
    bottom: 58px;
    left: 50%;
    margin-left: -30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #fff;

	span {
		position: absolute;
		display: inline-block;
		top: 50%;
		left: 50%;
		margin-top: -3px;
		margin-left: -10px;
		width: 20px;
		height: 10px;

		&:before,
		&:after{
			position: absolute;
			display: inline-block;
			width: 16px;
			height: 1px;
			background: #c6c6c6;
			transition: all .15s ease;
			content: "";
		}

		&:before{
			left: -3px;
			top: 5px;
			-webkit-transform: rotate(42deg);
			-ms-transform: rotate(42deg);
			transform: rotate(42deg);
		}

		&:after{
			left: 9px;
			top: 5px;
			-webkit-transform: rotate(140deg);
			-ms-transform: rotate(140deg);
			transform: rotate(140deg);
		}
	}
}

header.header_nav-wr{
	position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100%;
    height: 110px;
    transition: all .2s ease-in-out;

	.nav-show-menu {
		width: 32px;
		height: 22px;
		position: absolute;
		top: 50%;
		margin-top: -11px;
		left: 24px;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .5s ease-in-out;
		-moz-transition: .5s ease-in-out;
		-o-transition: .5s ease-in-out;
		transition: .5s ease-in-out;
		cursor: pointer;
		z-index: 11;

		span {
			display: block;
			position: absolute;
			height: 4px;
			width: 100%;
			background: $color-white;
			opacity: 1;
			left: 0;
			top:50%;
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transition: .25s ease-in-out;
			-moz-transition: .25s ease-in-out;
			-o-transition: .25s ease-in-out;
			transition: .25s ease-in-out;

			&:nth-child(1) {
				margin-top: -11px;
				-webkit-transform-origin: left center;
				-moz-transform-origin: left center;
				-o-transform-origin: left center;
				transform-origin: left center;
			}

			&:nth-child(2) {
				margin-top: -1px;
				-webkit-transform-origin: left center;
				-moz-transform-origin: left center;
				-o-transform-origin: left center;
				transform-origin: left center;
			}

			&:nth-child(3) {
				margin-top: 9px;
				-webkit-transform-origin: left center;
				-moz-transform-origin: left center;
				-o-transform-origin: left center;
				transform-origin: left center;
			}
		}

		&.open{

			span{
				background: $color-black;

				&:nth-child(1) {
					-webkit-transform: rotate(45deg);
					-moz-transform: rotate(45deg);
					-o-transform: rotate(45deg);
					transform: rotate(45deg);
					margin-top: -14px;
					left: 4px;
				}

				&:nth-child(2) {
					width: 0%;
					opacity: 0;
				}

				&:nth-child(3) {
					-webkit-transform: rotate(-45deg);
					-moz-transform: rotate(-45deg);
					-o-transform: rotate(-45deg);
					transform: rotate(-45deg);
					margin-top: 9px;
    				left: 4px;
				}
			}
		}
		
	}

	.logo-header{
		display: none;
		width: 380px;
		vertical-align: middle;
		line-height: 1;
		text-align: center;

		img{
			width:100%;
			max-width: 250px;
		}

		span{
			display: inline-block;
			color: #3c3c3c;
			text-transform: uppercase;
			font-weight: 700;
    		font-size: 12px;
			margin-top: 5px;
		}
	}

	.header-right {
		position: absolute;
		top: 0;
		right: 0;
		text-align: right;
		box-sizing: border-box;
		padding: 5px 15px;
		max-width: 250px;
		line-height: 1;

		.header-phone {
			height: 32px;
			margin-top: 10px;
			margin-bottom: 5px;

			span{
				display: inline-block;
				color: #f5f5f7;
				text-decoration: none;
				font-weight: 900;
				font-size: 14px;
				line-height: 16px;
			}
			a{
				display: inline-block;
				color: #f5f5f7;
				text-decoration: none;
				font-weight: 900;
				font-size: 14px;
				line-height: 16px;
			}
		}

		.header_langs{
			float: right;

			> ul{
				list-style: none;
				padding: 0;
				margin: 0;
				float: right;

				> li{
					display: block;
					float: right;
					padding: 0;
					height: 20px;
					margin-left: 10px;
					line-height: 20px;

					&.full-width{
						width: 100%;
					}

					> a{
						font-weight: bold;
						color: #ffffff;
						transition: all 0.2s linear;
						font-size: 14px;
    					line-height: 20px;

						&.active,
						&:hover{
							text-decoration: none;
							color: $color_red;
						}
					}
				}
			}
		}
	}

	&.mode-white{
		background: #fff;
    	box-shadow: 0 0 2px rgba(0,0,0,.2);

		.logo-header{
			display: inline-block;
		}

		.nav-show-menu{
			span{
				background: $color-black;
			}
		}
		
		.header-right {

			.header-phone {
				span{
					color: #3c3c3c;
				}
				
				a{
					color: #3c3c3c;
				}
			}

			.header_langs{
	
				> ul{
	
					> li{
	
						> a{
							color: $color-black;
							transition: all 0.2s linear;

							&.active,
							&:hover{
								text-decoration: none;
								color: $color_red;
							}
						}
					}
				}
			}
		}
	}

	nav.header-menu {
		position: fixed;
		overflow: auto;
		z-index: 10;
		top: 0;
		left: -320px;
		right: 0;
		bottom: 0;
		max-width: 320px;
		background: #fff;
		text-align: center;
		transition: all .2s ease-in-out;

		&.show {
			left: 0
		}
		
		.logo-menu {
			position: relative;
			height: 150px;
			text-align: center;

			img{
				width: 200px;
    			margin-top: 30px;
			}
		}

		ul.navigation{
			list-style: none;
			padding: 0;

			li{
				line-height: 1;
				
				a{
					display: inline-block;
					width: 100%;
					text-align: center;
					color: #8d8d8d;
					text-decoration: none;
					text-transform: uppercase;
					font-size: 16px;
					line-height: 32px;
				}
			}
		}
		
		.header_menu_langs{
			padding: 10px;
			display: none;
			float: left;
			width: 100%;

			> ul{
				list-style: none;
				padding: 0;
				margin: 0;
				width: 100%;
				display: block;
				float: left;
				text-align: center;

				> li{
					display: inline-block;
					padding: 10px;
					margin: 0 5px;
					height: 40px;
					line-height: 20px;

					> a{
						font-weight: bold;
						color: $color_black;
						transition: all 0.2s linear;

						&.active,
						&:hover{
							text-decoration: none;
							color: $color_red;
						}
					}
				}
			}
		}
		
		.el-social {
			list-style:none;
			margin-top: 5px;
			padding: 0;
			float: left;
    		width: 100%;

			li{
				display: inline-block;
				
				&:not(:first-child) {
					margin-left: 8px;
				}

				a{
					display: inline-block;
					width: 26px;
					height: 26px;
					background-position: center center;

					&.social-fb{
						background-image: url(images/social-fb.png);
					}

					&.social-ok{
						background-image: url(images/social-ok.png);
					}

					&.social-vk{
						background-image: url(images/social-vk.png);
					}
				}
			}
		}
	}
}

section.header-wr{
	width: 100%;
	height: 100%;
	background: url('../bg_video/bg_video.jpg') no-repeat top center;

	.full-wr{
		background: rgba(0, 0, 0, 0.5);
		position: relative;
		overflow: hidden;

		&:before{
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			z-index: 2;
			background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAD0lEQVQImWNgIAf8J10LADM2AQA1DEeOAAAAAElFTkSuQmCC) 0 0 repeat;
		}

		video{
			position: absolute;
			top: 0;
			left: 0;
			min-height: 100%;
			min-width: 100%;
			z-index: 1;
		}

		.container-wr{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 2;
			width: 100%;
			height: 100%;

			.container{
				height: 100%;
				
				.row{
					height: 100%;
					padding: 60px 0 130px;

					.circle{
						position: absolute;
						display: inline-block;
						top: 38px;
						left: 50%;
						margin-left: -5px;
						width: 10px;
						height: 10px;
						border-radius: 50%;
						border: 1px solid #fff;
					}

					.col-xs-12{
						height: 100%;
						overflow: hidden;

						.logo-container{
							position: absolute;
							left: 50%;
							top: 50%;
							margin-top: -175px;
							margin-left: -168px;
							padding: 22px 0 14px;
							width: 336px;
							height: 350px;
							text-align: center;

							&:before,
							&:after{
								position: absolute;
								display: inline-block;
								left: 50%;
								width: 1px;
								height: 900px;
								background: url(images/first-dots.png) repeat-y;
								content: "";
							}
							&:before{
								top: 100%;
							}
							
							&:after{
								bottom: 100%;
							}

							.logo{

								&:after{
									display: inline-block;
									margin: 22px 0 12px;
									width: 62px;
									height: 3px;
									background: #ffffff;
									content: "";
								}
							}

							h1{
								@include responsive-font(1.6vw, 14px, 240px);
								font-weight: 100;
								text-align: center;
								color: #ffffff;
							}
						}
					}
				}
				
			}
		}
	}
	.company_logo{
		display: block;
		width: 100%;
		height: 75px;
		background: url(images/logo.png) no-repeat center left;
		background-size: contain;
		margin-top: 15px;
		float: left;
	}

	.buying_steps{
		list-style: none;
		text-align: left;
		padding: 0;
		float: left;
		padding-left: 20px;
		margin-top: 45px;

		li{
			font-size: 16px;
			color:#ffffff;
			margin-bottom: 10px;
			line-height: 36px;
			cursor: pointer;
			white-space: nowrap;
			-webkit-transition: font 0.3s linear 0.1s;
			-moz-transition: font 0.3s linear 0.1s;
			-o-transition: font 0.3s linear 0.1s;
			transition: font 0.3s linear 0.1s;

			i{
				display: block;
				background: transparent;
				width: 38px;
				height: 38px;
				margin-right: 10px;
				float: left;
				position: relative;
				border-radius: 19px;
				border: 3px solid $color_black;
				-webkit-transition: border 0.3s linear 0.1s;
				-moz-transition: border 0.3s linear 0.1s;
				-o-transition: border 0.3s linear 0.1s;
				transition: border 0.3s linear 0.1s;

				&:before{
					display: inline-block;
					content: "";
					position: absolute;
					width: 26px;
					height: 26px;
					top: 3px;
					left: 3px;
					background: $color_red;
					border-radius: 15px;
					-webkit-transition: background 0.3s linear 0.1s;
					-moz-transition: background 0.3s linear 0.1s;
					-o-transition: background 0.3s linear 0.1s;
					transition: background 0.3s linear 0.1s;
				}
			}

			span{
				padding: 10px;
				background: $color_black;
				-webkit-transition: background 0.3s linear 0.1s;
				-moz-transition: background 0.3s linear 0.1s;
				-o-transition: background 0.3s linear 0.1s;
				transition: background 0.3s linear 0.1s;
			}

			&:hover{
				i{
					border-color:$color_red;

					&:before{
						background: $color_black;
					}
				}

				span{
					background: $color_red;
				}
			} 
		}
	}

	.company_phone{
		font-size: 26px;
		margin-top: 25px;
		line-height: 36px;

		span{
			text-shadow: 1px 1px 2px $color_black;
			font-weight: 500;
			color: #ffffff;
		}
	}

	.call_me_form-wr{
		width:100%;
		max-width: 290px;
		margin:0 auto;
		border: 5px solid $color_white;
		padding: 15px;
		margin-top: 45px;
		background: rgba(255,255,255,0.2);

		h3,
		p{
			text-align: center;
		}
	}
}

section.our-products_wr {
	width: 100%;
    position: relative;
	z-index: 2;
	padding-bottom: 60px;

	.full-wr{
		color:$color_white;	
		position: absolute;
		background: url('images/triangles_bg.png') no-repeat top center;
		background-size: cover;
		top:0px;
		z-index: 1;
		height: auto;
    	bottom: 0px;
	}

	.container{
		z-index: 2;
		position: relative;

		.row{
			.block-title{
				color:$color_black;
				margin-bottom: 20px;
			}
			
			.product-item{
				max-width: 265px;
				margin: auto;
				margin-bottom: 15px;

				a{
					position: relative;
					display: inline-block;

					.product-img_wr{
						width: 265px;
						height: 265px;
						position: relative;

						.mask-hover{
							position: absolute;
							display: none;
							z-index: 2;
							left: 50%;
							margin-left: -70px;
							top: 50%;
							margin-top: -70px;
							width: 140px;
							height: 140px;
							border-radius: 50%;
							background: rgba(0,0,0,.8);
							text-transform: uppercase;
							font-size: 12px;
							font-weight: 500;
							line-height: 140px;
							color: #ffc001;
							text-align: center;
						}

						img{
							border-radius: 50%;
						}
					}

					.product-name{
						display: inline-block;
						margin-bottom: 30px;
						width: 100%;
						color: $color_black;
						text-align: center;
						text-transform: uppercase;
						font-size: 16px;
						font-weight: 700;
						line-height: 30px;

						&:before{
							display: block;
							margin: 25px auto 8px;
							width: 60px;
							height: 2px;
							background: $color_yellow_darker;
							content: "";
						}
					}

					&:hover{
						
						.product-img_wr{
							.mask-hover{
								display: block;
							}
						}
					}
				}
			}
		}
	}
}

section.how-we-work_wr {	
	width: 100%;
    position: relative;
	z-index: 2;

	.full-wr{
		color:$color_white;	
		position: absolute;
		background: url('images/bg_main.jpg') no-repeat top center;
		background-size: cover;
		top:0px;
		z-index: 1;
		height: auto;
    	bottom: 0px;
	}

	.container{
		z-index: 2;
		position: relative;

		.row{
			.block-title{
				color:$color_white;
				margin-bottom: 20px;
			}

			.step-block-wr{
				text-align: center;
				margin-bottom: 30px;

				.img-wr{
					position: relative;
					text-align: center;
					width:100%;
					height:100%;
					max-width: 285px;
					max-height: 285px;
					margin: 0 auto;

					img{
						max-width: 100%;
						position: relative;
						z-index: 2;					
					}

					.step-block-text{
						position: absolute;
						background: #ffffff;
						padding: 55% 10px 10px 10px;
						left: 3px;
						right: 3px;
						top: 50%;
						display: none;
						box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
						z-index: 1;

						.step-block-title{
							font-size: 16px;
							text-transform: uppercase;
							color: #666666;
							display: block; 
							margin-bottom: 10px;
							font-weight: bold;
						}
						
						p{							
							@include responsive-font(0.8vw, 12px, 14px);
						}
					}
				}

				.title-wr{
					position: relative;
					display: inline-block;
					margin: 0 auto;
					text-decoration: none;
					color: $color_white;
					font-size: 16px;
					text-transform: uppercase;

					&:before{
						display: block;
						height: 2px;
						width: 0%;
						margin: 10px auto;
						content: "";
						background: $color_white;
						-webkit-transition: width .5s;
						transition: width .5s;
					}
				}

				&:hover{
					cursor: pointer;
					z-index: 10;

					.img-wr{

						.step-block-text{
							display: block;
						}
					}

					.title-wr{
						opacity: 0;

						&:before{
							width: 100%;
						}
					}
				}
			}

			.btn-wr{					
				padding-top: 50px;
				padding-bottom: 100px;
				text-transform: uppercase;
				text-align: center;
			}
		}
	}
}

section.windows_evolution_wr {
	width: 100%;
    position: relative;
	z-index: 2;
	padding: 0px 0 70px;
	// background: url("images/triangles_bg.png") no-repeat top center;
	background-size: cover;
	
	.full-wr{
		position: absolute;
		top:0px;
    	bottom: 0px;
		z-index: 1;
		height: auto;
		background: transparent;
	}

	.container{
		z-index: 2;
		position: relative;
		.row{
		
			.block-title{
				color:$color_black;
				margin-bottom: 20px;
			}

			.windows_evolution_list-wr{
				.window-item{
					margin: 25px auto;
					padding: 0px;
					position: relative;
					display: block;
					text-align: center;
					max-width: 240px;

					a{
						text-decoration: none;
						display: inline-block;
						outline: 0;
					}
					
					.circle{
						position: absolute;
						display: block;
						width: 90%;
						border: 2px solid #ed1b24;
						border-radius: 50%;
						bottom: 20%;
						overflow: hidden;
						
						.square { 
							position: relative;
							text-align: center;
							width: 100%;
							background: transparent;
							z-index: 2;
							
							&:after {
								content: "";
								display: block;
								padding-bottom: 100%;
							}
							
							.content {
								position: absolute;
								width: 100%;
								height: 100%;
								font-size: 2em;
								
								.table{
									display:table;
									width:100%;
									height:100%;
									vertical-align:middle;
									
									.table-cell{
										display:table-cell;
										width:100%;
										height:100%;
										vertical-align:middle;

										p{
											text-transform: uppercase;
											font-size: 12px;
											color: #ffffff;
											margin: 0;
											display: none;
										}
									}
								}
							}
							
						}
					}


					&:hover{

						.circle {

							.square{
								background: rgba(0, 0, 0, 0.8);

								.content {
									
									.table{
										
										.table-cell{

											p{
												display: block;
											}
										}
									}
								}
							}
						}
					}

					.product-image{
						position: relative;
						z-index: 1;
						display: inline-block;
						height: 330px;
						line-height: 330px;
						width: 100%;
						margin-bottom: 15px;

						img{
							max-width: 100%;
							max-height: 100%;
							vertical-align: bottom;
							margin: 0 auto;
						}
					}

					.product-name {
						display: block;
						width: 100%;
						color: #ed1b24;
						font-size: 22px;
						line-height: 32px;
					}
					
					.product-desc {
						display: block;
						width: 100%;
						color: #858585;
						font-size: 14px;
						line-height: 18px;
						white-space: normal;
					}
				}
			}
		}
	}
}


section.trocal76_wr {
	width: 100%;
	height: 100%;
    position: relative;
	z-index: 2;
	padding: 110px 0 0px;
	margin-top: -110px;
	overflow: hidden;
	
	.full-wr{
		position: absolute;
		top:110px;
    	bottom: 0px;
		z-index: 1;
		height: auto;
		background: url("../images/trocal76/trocal-welcome.jpg") no-repeat center center;
		background-size: cover;

		.full-wr-text{
			width: 35%;
			height: 100%;
			float: right;
			background: rgba(255, 255, 255, 0.6);;
			padding: 25px 45px;

			p{
				font-size: 18px;
				line-height: 36px;
				margin-bottom: 40px;
				margin-top: 30px;
			}
		}
	}

	.video-wr{
		display: none;
		position: relative;
		z-index: 2;
		height: 100%;
		width: 100%;
		overflow: hidden;
		left:0;
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;

		.plyr--video{
			height: 100%;
			width: 100%;

			.plyr__controls{
				left: 64px;
				background: none;
				bottom: 50px;
				right: 0;
				padding-right: 30px;
				display: block;

				.btn-sky{
					display: none;
				}
			}

			.plyr__video-wrapper{
				height: 100%;
				width: 100%;

				video{
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
	}

	.video_description{
		display: block;
		position: absolute;
		top:110px;
		bottom: 0;
		width: 50%;
		right: -50%;
		padding: 35px;
		background: #ffffff;
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
		overflow-y: auto;

		> div[data-video]{
			display: none;
		}
	}

	.video_menu{
		position: absolute;
		top: 110px;
		bottom: 0;
		z-index: 2;

		ul{
			list-style: none;
			margin: 0;
			padding: 0;
			height: 100%;
			float: left;

			li{
				width: 64px;
				height: 64px;
				position: relative;
				margin-bottom: 1px;

				a{
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					white-space: nowrap;
					line-height: 64px;
					color: #fff;
					text-decoration: none;
					background: rgba(0,147,189,0.5);
					-webkit-transition: all 0.5s ease-in-out;
					-moz-transition: all 0.5s ease-in-out;
					-o-transition: all 0.5s ease-in-out;
					transition: all 0.5s ease-in-out;

					span{
						display: table-cell;
						vertical-align: middle;
						padding: 0 15px;
						white-space: nowrap;
					}

					i.ca-icon{
						display: table-cell;
						vertical-align: middle;
						font-size: 32px;
						width: 64px;
						padding: 0 15px;
					}

					&.active{
						background: rgba(0,147,189,0.7);
					}
				}

				&:hover{
					width: auto;

					a{
						right: auto;
						text-decoration: none;
					}
					
				}
			}

			&::before{
				position: absolute;
				bottom: 0;
				top: 520px;
				left: 0;
				width: 64px;
				height: auto;
				background: rgba(0,147,189,0.5);
				content: '';
			}
		}
	}

	&.video-skiped{

		.video-wr{
			left:-50%;

			.plyr--video{
	
				.plyr__controls{
					
					.btn-hot{
						display: none;
					}

					.btn-sky{
						display: inline-block;
					}
				}
			}
		}

		.video_description{
			right:0;
		}
	}
}

section.why-we_wr{	
	width: 100%;
    position: relative;
	z-index: 2;
	padding: 0px 0 70px;

	.full-wr{
		position: absolute;
		top:0px;
		z-index: 1;
		height: auto;
    	bottom: 0px;
		background: transparent; 
	}

	.container{
		z-index: 2;
		position: relative;

		.count-item{
			text-align: center;
			width: 100%;
			padding: 35px 45px 15px 45px;
			position: relative;
			height: 240px;
			margin-bottom: 30px;

			.number{
				font-size: 60px;
				line-height: 100px;
				font-weight: 400;
			}

			.text{
				text-decoration: none;
				color: $color_black;
				font-size: 16px;
				line-height: 20px;
				margin-top: 15px;
			}

			&:before{
				color: $color_yellow_darker;
				content: "[";
				font-size: 210px;
				line-height: 210px;
				position: absolute;
				top: 0;
				left: -10px;
				font-weight: 100;
			}

			&:after{
				color: $color_yellow_darker;
				content: "]";
				font-size: 210px;
				line-height: 210px;
				position: absolute;
				top: 0;
				right: -10px;
				font-weight: 100;
			}
		}
	}
}

section.map-wr{
	height: 100%;
	z-index: 1;
	position: relative;
	
	div.list_locations-wr{
		.location-details{
			cursor: pointer;
			position: relative;
			@include display-flex;

			> i.ca-icon{
				font-weight: 700;
				font-size: 36px;
			}

			.details{
				position: relative;
				padding: 0 0 30px;
				margin: 0 0 30px;
				text-align: left;
				width: 100%;

				a{
					color: #2e3192;
					text-decoration: none;
				}

				.display-only-mobile{
					display:none;
				}

				p{
					margin: 10px 0;
					font-size:24px;
					font-weight: 400;
					line-height: 30px;
					color: #000;
					text-transform: none;
					letter-spacing: 0;
				}

				div{
					margin-top: 5px;
					font-size:16px;
					font-weight: 300;
					line-height: 24px;
					color: #000;
					text-transform: none;
					letter-spacing: 0;
				}

				&:after{
					content: '';
					height: 1px;
					background-color: #000;
					position: absolute;
					top: auto;
					right: 30px;
					bottom: 0;
					left: 0;
					z-index: initial;
				}
			}

			&:hover{
				> i.ca-icon{
					color: #fa0000;
				}

				.details{

					p{
						color: #fa0000;
					}
				}
			}
		}
	}

	.map-element{
		height: 60%;
		width: 100%;
	}
}

/* centered columns styles */
.row-centered {
    text-align: center;

	.col-centered {
		display: inline-block;
		float: none;
		/* reset the text-align */
		text-align: left;
		/* inline-block space fix */
		margin-right: -4px;
		margin-left: -4px;
	}
}

.auth-box{
	width: 360px;
	position: absolute;
	left: 50%;
	margin-left: -180px;
	top: 20%;

	.auth-box-body {
		background: #fff;
		padding: 20px;
		border-top: 0;
		color: #666;
		
		.auth-logo{
			text-align: center;
			font-size:32px;

			span {
				color: #444;
			}
		}
	}
}

@media (max-width: 1199px){
	section.trocal76_wr{
		display: none;
	}
	
	.hidden-max-1200{
		display: none;
	}
}

@media (min-width: 768px){
	header.header_nav-wr{
		text-align: center;
		line-height: 110px;
	}
}

@media (max-width: 767px){

	header.header_nav-wr{
		height: 61px;

		.header-right {
			padding: 5px 15px;
			max-width: 180px;

			.header-phone {
				margin-top: 0;
				margin-bottom: 0;
				
				span{
					font-weight: 700;
					font-size: 12px;
					line-height: 15px;
				}
				a{
					font-weight: 700;
					font-size: 16px;
					line-height: 15px;
				}
			}
			
			.header_langs{
				display: none;
			}
		}
		
		.logo-header{
			display: none;
			width: 61px;
			margin: 5px auto;

			img{
				width:100%;
			}
		}

		&.mode-white{

			.logo-header{
				display: none;
				width: 61px;
				margin: 5px auto;

				img{
					width:100%;
				}
			}
		}

		nav.header-menu {
			max-width: none;
			left: -100%;
			width: 100%;

			.close-menu {
				left: auto;
				right: 20px
			}

			.header_menu_langs{
				display: block;
			}
		}

		.header-phone{
			line-height: 25px;
		}
	}

	.auth-box{
		position: relative;
		width: 100%;
		left: auto;
		margin-left: auto;
	}
}

@media (max-width: 667px) and (min-width: 600px){

	section.windows_evolution_wr {

		.window-item{

			.product-name {
				font-size: 18px;
			}
		}
	}
}

.btn.btn3d{
    margin: 4px;
    box-shadow: 0px 2px 15px rgba(0,0,0,0.4)
}

.btn-hot {
	color: #fff;
	background-color: #db5566;
	border-bottom:5px solid #af4451;
}

.btn-hot:hover, .btn-sky.active:focus, .btn-hot:focus, .open>.dropdown-toggle.btn-hot {
	color: #fff;
	background-color: #df6a78;
	border-bottom:5px solid #b25560;
	outline: none;
}


.btn-hot:active, .btn-hot.active {
	color: #fff;
	background-color: #c04b59;
	border-top:1px solid #ab3e4b;
	border-bottom:1px solid #ab3e4b;
	outline: none;
	outline-offset: 0;
	margin-top: 8px;
}

.btn-sunny {
color: #fff;
background-color: #f4ad49;
border-bottom:2px solid #c38a3a;
}

.btn-sunny:hover, .btn-sky.active:focus, .btn-sunny:focus, .open>.dropdown-toggle.btn-sunny {
color: #fff;
background-color: #f5b75f;
border-bottom:5px solid #c4924c;
outline: none;
}


.btn-sunny:active, .btn-sunny.active {
color: #fff;
background-color: #d69840;
border-top:1px solid #ab7a33;
border-bottom:1px solid #ab7a33;
outline: none;
outline-offset: 0;
margin-top: 8px;
}

.btn-fresh {
color: #fff;
background-color: #51bf87;
border-bottom:2px solid #41996c;
}

.btn-fresh:hover, .btn-sky.active:focus, .btn-fresh:focus, .open>.dropdown-toggle.btn-fresh {
color: #fff;
background-color: #66c796;
border-bottom:5px solid #529f78;
outline: none;
}


.btn-fresh:active, .btn-fresh.active {
color: #fff;
background-color: #47a877;
border-top:1px solid #39865f;
border-bottom:1px solid #39865f;
outline: none;
outline-offset: 0;
margin-top: 8px;
}

.btn-sky {
	color: #fff;
	background-color: #0bacd3;
	border-bottom:5px solid #098aa9;
}

.btn-sky:hover,
.btn-sky.active:focus, 
.btn-sky:focus, 
.open>.dropdown-toggle.btn-sky {
color: #fff;
background-color: #29b6d8;
border-bottom:5px solid #2192ad;
outline: none;
}

.btn-sky:active, .btn-sky.active {
	color: #fff;
	background-color: #0a97b9;
	border-top:1px solid #2192ad;
	border-bottom:1px solid #2192ad;
	outline-offset: 0;
	margin-top: 8px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
	outline: none;
	outline-offset: 0px;
}

jdiv.copy_2W{
	display: none !important;
}

.system-text-messages-b {
    max-width: 350px;
    position: fixed;
    top: 20px;
    right: 50px;
	z-index: 99999;
	display: none;
	
	ul {
		list-style: none;
		padding: 0;
		margin: 0;

		li {
			padding: 25px 25px 25px 15px;
			position: relative;
			border-top: 1px dashed #eee;
			-webkit-animation-duration: 1s;
			animation-duration: 1s;
			-webkit-animation-fill-mode: both;
			animation-fill-mode: both;
			-webkit-box-shadow: 0 0px 14px rgba(34, 34, 34, 0.5);
			box-shadow: 0 0px 5px rgba(34, 34, 34, 0.4);
			margin-bottom: 5px;
			border-radius: 10px;

			.fa.fa-remove {
				position: absolute;
				top: 50%;
				margin-top: -7px;
				right: 8px;
				cursor: pointer;
				font-size: 14px;
				line-height: 14px;
				@include opacity(0.4);

				&:hover {
					@include opacity(1);
				}
			}

			&.message-error {
				color: #a94442;
				background-color: #ebcdcc;
				border: 1px solid #e8c1bf;
			}

			&.message-success {
				color: #38971f;
				background-color: #ccf3c2;
				border: 1px solid #badeb1;
			}

			&.message-info {
				color: #3C81A3;
				background-color: #daf1f8;
				border: 1px solid #cbe3ea;
			}

			&.message-warning {
				color: #c77c11;
				background-color: #fceedb;
				border: 1px solid #e4d5c1;
			}

			a {
				font-weight: bold;
			}
		}
	}
}