@font-face {
  font-family: 'ca-icon';
  src:  url('fonts/ca-icon.eot?um1qbc');
  src:  url('fonts/ca-icon.eot?um1qbc#iefix') format('embedded-opentype'),
    url('fonts/ca-icon.ttf?um1qbc') format('truetype'),
    url('fonts/ca-icon.woff?um1qbc') format('woff'),
    url('fonts/ca-icon.svg?um1qbc#ca-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.ca-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ca-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ca-icon_layout:before {
  content: "\e907";
}
.ca-icon_checkered-flag:before {
  content: "\e904";
}
.ca-icon_two-leaves:before {
  content: "\e905";
}
.ca-icon_statistics:before {
  content: "\e906";
}
.ca-icon_security:before {
  content: "\e909";
}
.ca-icon_audio-volume:before {
  content: "\e90d";
}
.ca-icon_snowflake:before {
  content: "\e90e";
}
.ca-icon_sun:before {
  content: "\e912";
}
.ca-icon_reviews:before {
  content: "\e948";
}
.ca-icon_share:before {
  content: "\e908";
}
.ca-icon_arrow-up-slim:before {
  content: "\e93d";
}
.ca-icon_arrow-down-slim:before {
  content: "\e940";
}
.ca-icon_arrow-left-slim:before {
  content: "\e93e";
}
.ca-icon_arrow-right-slim:before {
  content: "\e93f";
}
.ca-icon_smartphone:before {
  content: "\e93c";
}
.ca-icon_user:before {
  content: "\e935";
}
.ca-icon_menu:before {
  content: "\e93b";
}
.ca-icon_phone:before {
  content: "\e928";
}
.ca-icon_marker:before {
  content: "\e93a";
}
.ca-icon_info:before {
  content: "\e938";
}
.ca-icon_minus:before {
  content: "\e91c";
}
.ca-icon_arrow-down:before {
  content: "\e900";
}
.ca-icon_arrow-left:before {
  content: "\e901";
}
.ca-icon_arrow-right:before {
  content: "\e902";
}
.ca-icon_arrow-up:before {
  content: "\e903";
}
.ca-icon_envelope:before {
  content: "\e90a";
}
.ca-icon_eye:before {
  content: "\e90b";
}
.ca-icon_eye-slash:before {
  content: "\e90c";
}
.ca-icon_folder:before {
  content: "\e90f";
}
.ca-icon_gallery:before {
  content: "\e910";
}
.ca-icon_gears:before {
  content: "\e911";
}
.ca-icon_grid:before {
  content: "\e913";
}
.ca-icon_home:before {
  content: "\e914";
}
.ca-icon_in:before {
  content: "\e917";
}
.ca-icon_like:before {
  content: "\e918";
}
.ca-icon_more:before {
  content: "\e91d";
}
.ca-icon_ok:before {
  content: "\e921";
}
.ca-icon_ok-circle:before {
  content: "\e922";
}
.ca-icon_out:before {
  content: "\e923";
}
.ca-icon_password:before {
  content: "\e925";
}
.ca-icon_pencil:before {
  content: "\e927";
}
.ca-icon_plus:before {
  content: "\e929";
}
.ca-icon_refresh:before {
  content: "\e92b";
}
.ca-icon_remove:before {
  content: "\e92c";
}
.ca-icon_remove-circle:before {
  content: "\e92d";
}
.ca-icon_search:before {
  content: "\e92e";
}
.ca-icon_trash:before {
  content: "\e932";
}
.ca-icon_users:before {
  content: "\e936";
}
