$i: 0;
/*width*/@while $i <= 1000 {.w-#{$i}{width:#{$i}px;} $i: $i + 5;}$i: 0;
/*width percentage*/@for $i from 1 through 100 {.w-#{$i}pr{width:$i*1%;}}
/*max width*/@while $i <= 1000 {.mw-#{$i}{max-width:#{$i}px;} $i: $i + 5;}$i: 0;
/*min width*/@while $i <= 1000 {.mnw-#{$i}{min-width:#{$i}px;} $i: $i + 5;}$i: 0;
/*height*/@while $i <= 1000 {.h-#{$i}{height:#{$i}px;} $i: $i + 5;}$i: 0;
/*max height*/@while $i <= 1000 {.mh-#{$i}{max-height:#{$i}px;} $i: $i + 5;}$i: 0;
/*min height*/@while $i <= 1000 {.mnh-#{$i}{min-height:#{$i}px;} $i: $i + 5;}$i: 0;
/*margin*/@for $i from 1 through 200 {.m-#{$i}{margin:#{$i}px;}}
/*margin auto*/.m-auto{margin-left: auto; margin-right:auto}
/*margin left*/@for $i from 0 through 200 {.ml-#{$i}{margin-left:#{$i}px;}}
/*margin minus left*/@for $i from 1 through 200 {.mml-#{$i}{margin-left:-#{$i}px;}}
/*margin right*/@for $i from 0 through 200 {.mr-#{$i}{margin-right:#{$i}px;}}
/*margin minus right*/@for $i from 1 through 200 {.mmr-#{$i}{margin-right:-#{$i}px;}}
/*margin top*/@for $i from 0 through 200 {.mt-#{$i}{margin-top:#{$i}px;}}
/*margin minus top*/@for $i from 1 through 200 {.mmt-#{$i}{margin-top:-#{$i}px;}}
/*margin bottom*/@for $i from 0 through 200 {.mb-#{$i}{margin-bottom:#{$i}px;}}
/*margin minus bottom*/@for $i from 1 through 200 {.mmb-#{$i}{margin-bottom:-#{$i}px;}}
/*padding left*/@for $i from 0 through 200 {.pl-#{$i}{padding-left:#{$i}px;}}
/*padding right*/@for $i from 0 through 200 {.pr-#{$i}{padding-right:#{$i}px;}}
/*padding top*/@for $i from 0 through 200 {.pt-#{$i}{padding-top:#{$i}px;}}
/*padding bottom*/@for $i from 0 through 200 {.pb-#{$i}{padding-bottom:#{$i}px;}}
/*top*/@for $i from 0 through 200 {.t-#{$i}{top:#{$i}px;}}
/*top minus*/@for $i from 1 through 200 {.tm-#{$i}{top:#{$i}px;}}
/*bottom*/@for $i from 0 through 200 {.b-#{$i}{bottom:#{$i}px;}}
/*bottom minus*/@for $i from 1 through 200 {.bm-#{$i}{bottom:#{$i}px;}}
/*left*/@for $i from 0 through 200 {.l-#{$i}{left:#{$i}px;}}
/*left minus*/@for $i from 1 through 200 {.lm-#{$i}{left:#{$i}px;}}
/*right*/@for $i from 0 through 200 {.r-#{$i}{right:#{$i}px;}}
/*right minus*/@for $i from 1 through 200 {.rm-#{$i}{right:#{$i}px;}}
/*line height*/@for $i from 0 through 50 {.lh-#{$i}{line-height:#{$i}px;}}
/*font size*/@for $i from 8 through 50 {.fs-#{$i}{font-size:#{$i}px;}}
/*z index*/@for $i from 1 through 100 {.zi-#{$i}{z-index:#{$i};}}
/*text indent*/@while $i <= 100 {.ti-#{$i}{text-indent:#{$i}px;} $i: $i + 10;}$i: 0;
/*text indent minus*/@while $i <= 100 {.tim-#{$i}{text-indent:-#{$i}px;} $i: $i + 10;}$i: 0;
/*opacity@while $i <= 100 {.opacity-#{$i}{filter:alpha(opactiy=($i*100));-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$i*100})";-moz-opacity:$i;-khtml-opacity: $i;opacity:$i;} $i: $i + 10;}*/


.display-b{display:block}
.display-bi{display:inline-block}
.display-i{display:inline}
.display-t{display:table}
.display-tc{display:table-cell}
.display-n{display:none}
.visible-h{visibility:hidden}
.visible-v{visibility:visible}

.relative-b{position:relative}
.absolute-b{position:absolute}
.fixed-b{position:fixed}

.img-position-center{position:absolute;top:0;left:0;right:0;bottom:0;margin:auto}

.overflow-y-a{overflow-y:auto}
.overflow-y-s{overflow-y: scroll}
.overflow-y-h{overflow-y: hidden}
.overflow-y-v{overflow-y: visible}
.overflow-x-a{overflow-x: auto}
.overflow-x-s{overflow-x: scroll}
.overflow-x-h{overflow-x: hidden}
.overflow-x-v{overflow-x: visible}
.overflow-h{overflow: hidden}

.border-box{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}

.cur-pointer{cursor: pointer}
.cur-default{cursor: default}

.text-nowrap{overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.hover-underline:hover{text-decoration: underline}
.fs-italic{font-style:italic}
.fs-normal{font-style:normal}
.fw-bold{font-weight:bold}
.fw-normal{font-weight:normal}
.txtd-underline{text-decoration:underline}
.txtd-line-through{text-decoration:line-through}
.txtd-overline{text-decoration:overline}
.txtd-none{text-decoration:none}
.txtt-u{text-transform:uppercase}
.txtt-l{text-transform:lowercase}
.txtt-c{text-transform:capitalize}
.txtt-n{text-transform:none}
.vat{vertical-align:top}
.vam{vertical-align:middle}
.vab{vertical-align:bottom}
.tac{text-align:center}
.tar{text-align:right}
.tal{text-align:left}

/*important*/
/*width*/@while $i <= 1000 {.w-#{$i}_i{width:#{$i}px !important;} $i: $i + 5;}$i: 0;
/*width percentage*/@for $i from 0 through 100 {.w-#{$i}pr_i{width:$i*1% !important;}}
/*max width*/@while $i <= 1000 {.mw-#{$i}_i{max-width:#{$i}px !important;} $i: $i + 5;}$i: 0;
/*min width*/@while $i <= 1000 {.mnw-#{$i}_i{min-width:#{$i}px !important;} $i: $i + 5;}$i: 0;
/*height*/@while $i <= 1000 {.h-#{$i}_i{height:#{$i}px !important;} $i: $i + 5;}$i: 0;
/*max height*/@while $i <= 1000 {.mh-#{$i}_i{max-height:#{$i}px !important;} $i: $i + 5;}$i: 0;
/*min height*/@while $i <= 1000 {.mnh-#{$i}_i{min-height:#{$i}px !important;} $i: $i + 5;}$i: 0;
/*margin*/@for $i from 0 through 200 {.m-#{$i}_i{margin:#{$i}px !important;}}
/*margin auto*/.m-auto_i{margin-left: auto !important; margin-right:auto !important}
/*margin left*/@for $i from 0 through 200 {.ml-#{$i}_i{margin-left:#{$i}px !important;}}
/*margin minus left*/@for $i from 0 through 200 {.mml-#{$i}_i{margin-left:-#{$i}px !important;}}
/*margin right*/@for $i from 0 through 200 {.mr-#{$i}_i{margin-right:#{$i}px !important;}}
/*margin minus right*/@for $i from 0 through 200 {.mmr-#{$i}_i{margin-right:-#{$i}px !important;}}
/*margin top*/@for $i from 0 through 200 {.mt-#{$i}_i{margin-top:#{$i}px !important;}}
/*margin minus top*/@for $i from 0 through 200 {.mmt-#{$i}_i{margin-top:-#{$i}px !important;}}
/*margin bottom*/@for $i from 0 through 200 {.mb-#{$i}_i{margin-bottom:#{$i}px !important;}}
/*margin minus bottom*/@for $i from 0 through 200 {.mmb-#{$i}_i{margin-bottom:-#{$i}px !important;}}
/*padding left*/@for $i from 0 through 200 {.pl-#{$i}_i{padding-left:#{$i}px !important;}}
/*padding right*/@for $i from 0 through 200 {.pr-#{$i}_i{padding-right:#{$i}px !important;}}
/*padding top*/@for $i from 0 through 200 {.pt-#{$i}_i{padding-top:#{$i}px !important;}}
/*padding bottom*/@for $i from 0 through 200 {.pb-#{$i}_i{padding-bottom:#{$i}px !important;}}
/*top*/@for $i from 0 through 200 {.t-#{$i}_i{top:#{$i}px !important;}}
/*top minus*/@for $i from 0 through 200 {.tm-#{$i}_i{top:-#{$i}px !important;}}
/*bottom*/@for $i from 0 through 200 {.b-#{$i}_i{bottom:#{$i}px !important;}}
/*bottom minus*/@for $i from 0 through 200 {.bm-#{$i}_i{bottom:-#{$i}px !important;}}
/*left*/@for $i from 0 through 200 {.l-#{$i}_i{left:#{$i}px !important;}}
/*left minus*/@for $i from 0 through 200 {.lm-#{$i}_i{left:-#{$i}px !important;}}
/*right*/@for $i from 0 through 200 {.r-#{$i}_i{right:#{$i}px !important;}}
/*right minus*/@for $i from 0 through 200 {.rm-#{$i}_i{right:-#{$i}px !important;}}
/*line height*/@for $i from 1 through 50 {.lh-#{$i}_i{line-height:#{$i}px !important;}}
/*font size*/@for $i from 8 through 50 {.fs-#{$i}_i{font-size:#{$i}px !important;}}
/*z index*/@for $i from 1 through 100 {.zi-#{$i}_i{z-index:#{$i} !important;}}
/*text indent*/@while $i <= 100 {.ti-#{$i}_i{text-indent:#{$i}px !important;} $i: $i + 10;}$i: 0;
/*text indent minus*/@while $i <= 100 {.tim-#{$i}_i{text-indent:-#{$i}px !important;} $i: $i + 10;}$i: 0;

.display-b_i{display:block !important}
.display-bi_i{display:inline-block !important}
.display-i_i{display:inline !important}
.display-t_i{display:table !important}
.display-tc_i{display:table-cell !important}
.display-n_i{display:none !important}
.visible-h_i{visibility:hidden !important}
.visible-v_i{visibility:visible !important}

.relative-b_i{position:relative !important}
.absolute-b_i{position:absolute !important}
.fixed-b_i{position:fixed !important}

.overflow-y-a_i{overflow-y:auto !important}
.overflow-y-s_i{overflow-y: scroll !important}
.overflow-y-h_i{overflow-y: hidden !important}
.overflow-y-v_i{overflow-y: visible !important}
.overflow-x-a_i{overflow-x: auto !important}
.overflow-x-s_i{overflow-x: scroll !important}
.overflow-x-h_i{overflow-x: hidden !important}
.overflow-x-v_i{overflow-x: visible !important}
.overflow-h{overflow: hidden !important}

.cur-pointer_i{cursor: pointer !important}
.cur-default_i{cursor: default !important}

.hover-underline_i:hover{text-decoration: underline !important}
.fs-italic_i{font-style:italic !important}
.fs-normal_i{font-style:normal !important}
.fw-bold_i{font-weight:bold !important}
.fw-normal_i{font-weight:normal !important}
.txtd-underline_i{text-decoration:underline !important}
.txtd-line-through_i{text-decoration:line-through !important}
.txtd-overline_i{text-decoration:overline !important}
.txtd-none_i{text-decoration:none !important}
.txtt-u_i{text-transform:uppercase !important}
.txtt-l_i{text-transform:lowercase !important}
.txtt-c_i{text-transform:capitalize !important}
.txtt-n_i{text-transform:none !important}
.vat_i{vertical-align:top !important}
.vam_i{vertical-align:middle !important}
.vab_i{vertical-align:bottom !important}
.tac_i{text-align:center !important}
.tar_i{text-align:right !important}
.tal_i{text-align:left !important}