

.system-text-messages-b {
    max-width: 350px;
    position: fixed;
    top: 20px;
    right: 50px;
    z-index: 1003;
    z-index: 99999;
}
.system-text-messages-b ul {
    font: 14px Arial, sans-serif;
	list-style: none;
	padding: 0;
	margin: 0;
}
.system-text-messages-b li {
    padding: 15px 25px 15px 15px;
    position: relative;
    border-top: 1px dashed #eee;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-box-shadow: 0 0px 14px rgba(34, 34, 34, 0.5);
    box-shadow: 0 0px 5px rgba(34, 34, 34, 0.4);
    margin-bottom: 5px;
}
.system-text-messages-b li .fa.fa-remove {
    position: absolute;
    top: 16px;
    right: 8px;
    cursor: pointer;
    font-size: 14px;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=40);
    opacity: 0.4
}
.system-text-messages-b li .fa.fa-remove:hover {
    filter: progid: DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1
}
.system-text-messages-b .message-error {
    color: #a94442;
    background-color: #ebcdcc;
    border: 1px solid #d29998;
    border-radius: 3px;
}
.system-text-messages-b .message-success {
    color: #38971f;
    background-color: #ccf3c2;
    border: 1px solid #94d084;
    border-radius: 3px;
}
.system-text-messages-b .message-info {
    color: #3C81A3;
    background-color: #daf1f8;
    border: 1px solid #9ec7d8;
    border-radius: 3px;
}
.system-text-messages-b .message-warning {
    background: #fceedb;
    color: #c77c11;
    border: 1px solid #e8c395;
    border-radius: 3px;
}
.system-text-messages-b a {
    font-weight: bold
}

/*FILEUPLOAD*/
.user-image-thumbnail-wr{
	display: table;
	float: left;
	overflow: hidden;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	padding: 5px;
	margin-right: 5px;
	position: relative;
	width: 100%;
	margin-bottom: 15px;
	text-align: center;
}
#news_photo .user-image-thumbnail-wr{
	width: auto;
}
#product_photo .user-image-thumbnail-wr{
	width: auto;
}
#window_photo .user-image-thumbnail-wr{
	width: auto;
}
#banner_photos .user-image-thumbnail-wr{
	display: block;
}
.user-image-thumbnail-wr a{
	position: absolute;
	top: 5px;
	left: 5px;
}
.user-image-thumb{
	display: table-cell;
	width: 100%;
	height: 120px;
	vertical-align: middle;
	text-align: center;
}
.user-image-thumb img{
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
}


.ajax-loader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width:100%;
	height:100%;
	text-align: center;
	zoom: 1;
	z-index: 20000;
	background: rgba(255,255,255,0.7);
}
.ajax-loader .wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100px;
	height: 10px;
	text-align: center;
	margin-left: -35px;
	margin-top: -5px;
}

.ajax-loader .wrapper > div {
  width: 10px;
  height: 10px;
  /*background-color: #5B91CC;*/
  background-color: #337ab7;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bounceBigdelay 1.4s infinite ease-in-out;
  animation: bounceBigdelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.ajax-loader .wrapper .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.ajax-loader .wrapper .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bounceBigdelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bounceBigdelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/* FILTER PANEL */
.wr-filter-admin-panel {
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -350px;
    width: 350px;
    z-index: 9991;
    background: #f8f8f8;
    overflow: visible !important;
}

.wr-filter-admin-panel .title-b {
    font: bold 25px/25px Arial, sans-serif;
    color: #0f6c94;
    padding-bottom: 10px
}

.wr-filter-admin-panel .btn-display {
    width: 45px;
    min-height: 58px;
    position: absolute;
    top: 50px;
    left: -45px;
    z-index: 16;
    background: #f8f8f8;
    text-align: center;
    cursor: pointer;
    border-left: none;
    -moz-border-radius: 0px 5px 5px 0;
    -webkit-border-radius: 0px;
    border-radius: 5px 0px 0px 5px;
    -webkit-box-shadow: -7px 5px 8px 0px rgba(50, 50, 50, 0.2);
    box-shadow: -7px 5px 8px 0px rgba(50, 50, 50, 0.2);
}

.wr-filter-admin-panel .btn-display .i-block {
    margin: 5px auto 0 auto
}

.wr-filter-admin-panel .btn-display .i-block .ca-icon_filter {
    font-size: 18px;
    color: #0f6c94
}

.wr-filter-admin-panel .btn-display span {
    display: block;
    padding: 10px 0;
    font-weight: bold;
    line-height: 15px;
    font-size: 14px;
    color: #0f6c94
}

.wr-filter-admin-panel .btn-display.hide-btn {
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: .7
}

.wr-filter-admin-panel .btn-display.hide-btn:hover {
    filter: progid: DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1
}

.wr-filter-admin-panel .wr-hidden {
    width: 100%;
    height: 100%;
    min-height: 200px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #ccc;
    z-index: 15;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    display: none
}

.filter-admin-panel {
    width: 100%;
    height: inherit;
    position: relative;
    overflow-y: auto;
    padding: 10px;
    overflow-x: hidden !important;
    z-index: 16;
    background: #f8f8f8;
    -webkit-box-shadow: -7px 5px 8px 0px rgba(50, 50, 50, 0.2);
    box-shadow: -7px 5px 8px 0px rgba(50, 50, 50, 0.2);
}
/* FILTER PANEL END */